// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header{
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 44%, rgba(49,137,231,1) 66%, rgba(32,124,229,1) 81%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(44%, rgba(73,155,234,1)), color-stop(66%, rgba(49,137,231,1)), color-stop(81%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 44%, rgba(49,137,231,1) 66%, rgba(32,124,229,1) 81%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 44%, rgba(49,137,231,1) 66%, rgba(32,124,229,1) 81%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 44%, rgba(49,137,231,1) 66%, rgba(32,124,229,1) 81%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 44%, rgba(49,137,231,1) 66%, rgba(32,124,229,1) 81%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
font-color: white;
}
#button-ctrl{
    color: white;
}
.pad{
    margin-right: 20px;
}
.dec {
    text-decoration: none !important;
    color: white;
}
.lead{
        --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.head{
        --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
}