<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>My Story Blog | Home</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron site-header">
    <div class="container">
      <a href="/" class="dec"><h1>My Story Blog</h1></a>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>
  
  
  
  <!----------------------FOOTER ---------------->
  <div class="container">    
<div class="row-fluid">
		<div class="span12">
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<div class="pull-left span8">
				<a href="#">Terms of Service</a>    
				<a href="#">Privacy</a>    
				<a href="#">Security</a>
			</div>
			<div class="span4">
				<p class="muted pull-right">© 2017 My Story Blog. All rights reserved</p>
			</div>
		</div>
	</div>
</div>
  
  <!----------------------FOOTER ---------------->
  
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
